<form action="/festival/new" method="post">
 Name: <input name="name" type="text"> <br>
 Url: <input name="url" type="text"> <br>
 Location: <input name="location" type="text"> <br>
 Start Date: <input name="startDate" type="date"> <br>
 End Date: <input name="endDate" type="date"> <br>
 Genre: <input name="genre" type="text"> <br>
 Fee description: <input name="feeDescription" type="text"> <br>
 Price: <input name="price" type="number">
 <button type="submit">submit</button>
</form>